.container{
    padding: 0px 20px;
}

.label {
    font-weight: 500;
    font-size: var(--app-font-size-medium);
    color: var(--app-secondary-color);
}

.slider{
    width: 100%;
    position: relative;
}

.card-container{
    margin: 0px 48px;
    padding: 8px;
    
    display: flex;
    flex-direction: row;
    gap: 32px;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.card-container::-webkit-scrollbar {
    display: none;
}

.action-button{
    position: absolute;
}

.previous-button {
    top: calc(50% - 48px);
    left: 0px;
}

.next-button {
    top: calc(50% - 48px);
    right: 0px;
}