.container{
    height: 100%;
    width: 100%;

    .paginator-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
        background-color: white;
        box-shadow: var(--box-shadow-border);
        border-radius: var(--border-radius-s);

        .total-elements-container{
            width: fit-content;
            font-weight: var(--font-weight-regular);
            font-size: var(--font-size-xs);
            color: var(--color-secondary);
    
            .total-elements{
                color: var(--color-primary);
                font-weight: var(--font-weight-bold);
            }
    
            .search-term{
                color: var(--color-warn);
                font-weight: var(--font-weight-bold);
            }
        }
        
        .page-size-container {
            font-weight: var(--font-weight-regular);
            font-size: var(--font-size-xs);
            color: var(--color-secondary);
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
    
            .page-size-selector {
                width: 10rem;
                height: 2rem;
                padding: 0.125rem 0.5rem; 
                background-color: white;
                outline: unset;
                box-shadow: var(--box-shadow-badge);
                font-size: var(--font-size-xs);
                border-radius: var(--border-radius-s);
                font-weight: var(--font-weight-regular);
                border: none;
            }
            
            .page-size-selector:focus-visible{
                outline: unset;
            }
        }
    }
    
    .no-products-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    
        .title {
            margin: 0rem;
            font-size: var(--font-size-l);
            font-weight: var(--font-weight-bold);
            color: var(--color-primary);
        }
    
        .guide-text{
            margin: 0rem;
            font-size: var(--font-size-m);
            font-weight: var(--font-weight-regular);
            color: var(--color-secondary);
        }
    
        .reset-button {
            margin-top: 1rem;
            height: 3rem;
            font-size: var(--font-size-m);
            font-weight: var(--font-weight-regular);
            letter-spacing: 0rem;
        }
    }
    
    .paginator-footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .page-select-container{
        margin-top: 5rem;
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }
    
    .page-select-buttons-container{
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        .page-select-button {
            padding: 0rem;
            min-width: 2.5rem;
            width: 2.5rem;
            height: 2.5rem;
            color: var(--color-secondary);
            font-size: var(--font-size-m);
        }

        .button-selected {
            background-color: var(--color-primary);
            color: white;
        }
        
        .button-unselected{
            background-color: white;
        }

        .button-unselected:hover {
            background-color: var(--color-primary);
            color: white;
        }
    }

    .jump-page-button { 
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        text-transform: uppercase;

        .mat-icon {
            width: var(--font-size-xl);
            height: var(--font-size-xl);
            font-size: var(--font-size-xl);
        }
    }
}
