<div class="container">
  <p class="label">Categories</p>
  <mat-chip-listbox (change)="handleChangeCategory($event)">
    <mat-chip-option
      color="primary"
      [selected]="currentCategory === 'all'"
      [selectable]="currentCategory !== 'all'"
      value="all"
      >All</mat-chip-option
    >
    <mat-chip-option
      *ngFor="let category of categories"
      [selected]="currentCategory === category.name"
      [selectable]="currentCategory !== category.name"
      [value]="category.name"
      >{{ category.name }}</mat-chip-option
    >
  </mat-chip-listbox>
</div>
