<p class="label">Memory capacity</p>
<div class="options-container">
  <mat-chip-listbox>
    <mat-chip-option
      *ngFor="let option of options"
      [value]="option.value"
      [selected]="option.value === currentOption?.value"
      [selectable]="option.value !== currentOption?.value"
      (selectionChange)="handleChangeMemoryCapacity(option)"
      >{{ option.name }}
      <span *ngIf="option.plusPrice > 0">{{
        " " + "(+" + (option.plusPrice | currency) + ")"
      }}</span>
    </mat-chip-option>
  </mat-chip-listbox>
</div>
