.card-container {
    width: 100%;
    box-shadow: var(--box-shadow-border);
    transition: all 0.25s ease-in-out;
    position: relative;

    .card-content-container{
        padding-top: 16px;

        .image-container{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px;
            
            .image {
                height: 240px;
            }
        }
        
        .content-container{
            padding: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            color: var(--color-primary);
            
            .name{
                text-transform: capitalize;
                text-align: center;
                font-weight: var(--font-weight-regular);
                font-size: var(--font-size-s);
            }
        }
    }
}

.card-container:hover {
    box-shadow: var(--box-shadow-header);
    transform: translateY(-4px);
}


:host-context(.card-width-360px) .card-container  {
    width: 360px;
}

:host-context(.card-width-320px) .card-container  {
   width: 320px;
}

mat-card-actions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    gap: 10px;

    .fluid-button {
        width: 100%;
    }
}