<mat-card *ngIf="product" class="card-container">
  <mat-card-content>
    <div matRipple class="image-container">
      <img
        class="image"
        mat-card-image
        [alt]="'image of ' + product.name"
        [src]="product.imageUrl" />
    </div>
    <div class="content-container">
      <p class="name">{{ product.name }}</p>
      <p class="price" *ngIf="product.price">
        From
        {{
          product.price + (product.memoryCapacities?.[0]?.plusPrice || 0)
            | currency
        }}
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      class="fluid-button"
      mat-flat-button
      color="primary"
      (click)="onGetDetailProduct()">
      Check it out !
    </button>
    <button
      *ngIf="!inDetailPage"
      class="fluid-button"
      mat-flat-button
      color="accent"
      (click)="onNotify()">
      <mat-icon>favorite</mat-icon> Add to love list
    </button>
  </mat-card-actions>
</mat-card>
