p{
    margin: 0px;
}

.card-container {
    width: 100%;
    box-shadow: var(--app-border-box-shadow);
    transition: all 0.25s ease-in-out;

    .image-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        
        .image {
            height: 240px;
        }
    }
    
    .content-container{
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: var(--app-primary-color);
        
        .name{
            text-transform: capitalize;
            text-align: center;
            font-weight: var(--app-font-weight-regular);
            font-size: var(--app-font-size-small);
        }
    }
}

.card-container:hover {
    box-shadow: var(--app-header-box-shadow);
}


:host-context(.card-width-360px) .card-container  {
    width: 360px;
 }

:host-context(.card-width-320px) .card-container  {
   width: 320px;
}

mat-card-actions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    gap: 10px;

    .fluid-button {
        width: 100%;
    }
}