<mat-card *ngIf="product" class="card-container">
  <div class="hot-badge-wrap" *ngIf="product.isHot">
    <div class="hot-badge">
      <p class="label">Hot</p>
      <mat-icon class="hot-icon">whatshot</mat-icon>
    </div>
  </div>

  <mat-card-content class="card-content-container">
    <div matRipple class="image-container">
      <img
        class="image"
        mat-card-image
        [alt]="'image of ' + product.name"
        [src]="product.imageUrl" />
    </div>
    <div class="content-container">
      <p class="name">{{ product.name }}</p>
      <app-product-price-display
        [product]="product"
        [showLabel]="true"></app-product-price-display>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      class="fluid-button"
      mat-flat-button
      color="primary"
      (click)="onGetDetailProduct()">
      Check it out !
    </button>
    <button
      *ngIf="!inDetailPage"
      class="fluid-button"
      mat-flat-button
      color="danger"
      (click)="handleAddToLoveList()">
      <mat-icon>favorite</mat-icon> Add to love list
    </button>
  </mat-card-actions>
</mat-card>
