.container {
    height: var(--breadcrumbs-height);
    background-color: white;
    padding: 0rem 1.25rem 0rem 1.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: var(--box-shadow-border);
    position: relative;
    z-index: 9;
}

.breadcrumb-value {
    font-size: var(--font-size-xs);
    color: var(--color-primary);
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    padding: 0.125rem 0.5rem;
    background-color: var(--color-accent);
    border-radius: var(--border-radius-s);
}

.breadcrumb-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.active-breadcrumb {
    cursor: pointer;
}

.active-breadcrumb:hover{
    font-weight: var(--font-weight-bold);
}

.inActive-breadcrumb{
    cursor: auto;
}

.content-container {
    display: flex;
    flex-direction: row;
}

mat-icon {
    width: var(--font-size-m);
    height: var(--font-size-m);
    font-size: var(--font-size-m);
}

