<div class="container">
  <div class="content-container">
    <p class="breadcrumb-value" (click)="navigateTo('/')">
      <mat-icon>home</mat-icon> Home
    </p>
    <div class="breadcrumb-tag" *ngFor="let link of links">
      <span><mat-icon>keyboard_arrow_right</mat-icon></span>
      <p class="breadcrumb-value" (click)="navigateTo(link.to)">
        <mat-icon *ngIf="link.iconName && link.iconName.length > 0">{{
          link.iconName
        }}</mat-icon>
        {{ link.name }}
      </p>
    </div>
  </div>
</div>
