.quantity-selector{
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow-border);
}

.decrease-button, .increase-button{
    cursor: pointer;
    border: none;
    width: 1.75rem;
    height: 1.75rem;
    background-color: var(--color-accent);
}

.decrease-button {
    border-right: 0.0625rem solid var(--color-accent);
}

.increase-button {
    border-left: 0.0625rem solid var(--color-accent);
}

.quantity-value{
    width: 2rem;
    height: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-s);
}

.icon{
    height: var(--font-size-s);
    width: var(--font-size-s);
    font-size: var(--font-size-s);
}