.container{
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;

    .label {
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-s);
    }

    .price-value{
        color: var(--color-primary);
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-bold);
    }

    .sale-price-container{
        display: flex;
        align-items: flex-end;
        gap: 0.25rem;
        
        .original-price {
            color: var(--color-secondary);
            font-weight: var(--font-weight-regular);
            text-decoration: line-through;
        }

        .sale-price {
            color: var(--color-primary);
            font-weight: var(--font-weight-bold);
        }

        .sale-percentage-badge{
            padding: 0.125rem 0.25rem;
            border-radius: var(--border-radius-s);
            background-color: var(--color-warn);
           
            .sale-percentage-value{
                font-weight: var(--font-weight-regular);
                color: white;
            }
        }
    }
}

.size-small {
    .price-value {
        font-size: var(--font-size-s);
    }

    .sale-price-container{
        .original-price{
            font-size: var(--font-size-s);
        }
    
        .sale-price{
            font-size: var(--font-size-s);
        }
    
        .sale-percentage-value{
            font-size: var(--font-size-2xs);
        }
    }
}

.size-medium {
     .price-value {
        font-size: var(--font-size-m);
    }

    .sale-price-container{
        .original-price{
            font-size: var(--font-size-m);
        }
    
        .sale-price{
            font-size: var(--font-size-m);
        }
    
        .sale-percentage-value{
            font-size: var(--font-size-xs);
        }
    }
}