p{
    margin: 0px;
}

.container {
    --clock-size-medium: 24px;
    --clock-size-big: 40px;
}

/* markup class */
.countdown {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;

    .time-section {
        text-align: center;
    
        .label {
            margin-bottom: 4px;
        }

        .time-group {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2px;

            .time-segment {
                display: block; 
                font-weight: var(--font-weight-bold);

                .segment-display {
                    position: relative;
                    height: 100%;
                    font-size: var(--font-size-l);
                    font-weight: var(--font-weight-bold);

                    .segment-display__top, .segment-display__bottom {
                        position: relative;
                        overflow: hidden;
                        text-align: center;
                        width: 100%;
                        height: 50%;
                    }

                    .segment-display__top{
                        line-height: 1.5;
                    }

                    .segment-display__bottom{
                        line-height: 0;
                    }

                    .segment-overlay {
                        position: absolute;
                        top: 0;
                        height: 100%;
                        perspective: 400px;
    
                        .segment-overlay__top, .segment-overlay__bottom {
                            position: absolute;
                            overflow: hidden;
                            text-align: center;
                            width: 100%;
                            height: 50%;
                        }
    
                        .segment-overlay__top {
                            top: 0;
                            line-height: 1.5;
                        }
    
                        .segment-overlay__bottom {
                            bottom: 0;
                            line-height: 0;
                        }
                    }
                }
            }
        }
    }
}

/* animation class */
.segment-overlay.flip .segment-overlay__top{
    transform-origin: bottom;
    animation: flip-top 0.8s linear;
}

.segment-overlay.flip .segment-overlay__bottom{
    transform-origin: top;
    animation: flip-bottom 0.8s linear;
}


.light-mode {
    color: var(--color-primary);

    .label {
        color: white;
    }
    
    .time-group{
        .time-segment{
            .segment-display{
                .segment-display__top{
                    background-color: white;
                }

                .segment-display__bottom{
                    background-color: var(--color-accent);
                }
            
                .segment-overlay{
                    .segment-overlay__top{
                        background-color: white;
                    }

                    .segment-overlay__bottom{
                        background-color: var(--color-accent);
                    }
                }
            }
        }
    }
}

.dark-mode {
    color: white;

    .label {
        color: var(--color-primary);
    }
    
    .time-group{
        .time-segment{
            .segment-display{
                .segment-display__top{
                    background-color: var(--color-primary);
                }

                .segment-display__bottom{
                    background-color: var(--color-secondary);
                }
            
                .segment-overlay{
                    .segment-overlay__top{
                        background-color: var(--color-primary);
                    }

                    .segment-overlay__bottom{
                        background-color: var(--color-secondary);
                    }
                }
            }
        }
    }
}

.size-medium {
    .time-section {
        .label {
            font-size: var(--font-size-xs);
        }
        
        .time-group{
            .time-segment{
                .segment-display {
                    width: var(--clock-size-medium);
                    height: calc(var(--clock-size-medium) * 1.5);
                    font-size: var(--clock-size-medium);
                    .segment-overlay{
                        width: var(--clock-size-medium);
                    }
                }
            }
        }
    }
}

.size-big {
   .time-section {
        .label {
            font-size: var(--font-size-s);
        }

        .time-group{
            .time-segment{
                .segment-display {
                    width: var(--clock-size-big);
                    height: calc(var(--clock-size-big) * 1.5);
                    font-size: var(--clock-size-big);
                    .segment-overlay{
                        width: var(--clock-size-big);
                    }
                }
            }
        }
   }
}

@keyframes flip-top {
    0% {
        transform: rotateX(0deg);
    }

    50%, 100% {
        transform: rotateX(-90deg);
    }
}

@keyframes flip-bottom {
    0%, 50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

@keyframes text-neon {
    from {
      text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 16px var(--color-warn),
        0 0 20px var(--color-warn), 0 0 24px var(--color-warn), 0 0 28px var(--color-warn), 0 0 32px var(--color-warn);
    }
    to {
      text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px var(--color-warn),
        0 0 10px var(--color-warn), 0 0 12px var(--color-warn), 0 0 14px var(--color-warn), 0 0 16px var(--color-warn);
    }
  }