<div class="container">
  <div
    [ngClass]="{
      countdown: true,
      'light-mode': mode === 'light',
      'dark-mode': mode === 'dark',
      'size-medium': size === 'medium',
      'size-big': size === 'big'
    }">
    <div class="time-section" [id]="elementIdPrefix + '-countdown-clock-days'">
      <p class="label">Days</p>
      <div class="time-group">
        <div class="time-segment">
          <div class="segment-display">
            <div class="segment-display__top">0</div>
            <div class="segment-display__bottom">0</div>
            <div class="segment-overlay">
              <div class="segment-overlay__top">0</div>
              <div class="segment-overlay__bottom">0</div>
            </div>
          </div>
        </div>
        <div class="time-segment">
          <div class="segment-display">
            <div class="segment-display__top">0</div>
            <div class="segment-display__bottom">0</div>
            <div class="segment-overlay">
              <div class="segment-overlay__top">0</div>
              <div class="segment-overlay__bottom">0</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="time-section" [id]="elementIdPrefix + '-countdown-clock-hours'">
      <p class="label">Hours</p>
      <div class="time-group">
        <div class="time-segment">
          <div class="segment-display">
            <div class="segment-display__top">0</div>
            <div class="segment-display__bottom">0</div>
            <div class="segment-overlay">
              <div class="segment-overlay__top">0</div>
              <div class="segment-overlay__bottom">0</div>
            </div>
          </div>
        </div>
        <div class="time-segment">
          <div class="segment-display">
            <div class="segment-display__top">0</div>
            <div class="segment-display__bottom">0</div>
            <div class="segment-overlay">
              <div class="segment-overlay__top">0</div>
              <div class="segment-overlay__bottom">0</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="time-section"
      [id]="elementIdPrefix + '-countdown-clock-minutes'">
      <p class="label">Minutes</p>
      <div class="time-group">
        <div class="time-segment">
          <div class="segment-display">
            <div class="segment-display__top">0</div>
            <div class="segment-display__bottom">0</div>
            <div class="segment-overlay">
              <div class="segment-overlay__top">0</div>
              <div class="segment-overlay__bottom">0</div>
            </div>
          </div>
        </div>
        <div class="time-segment">
          <div class="segment-display">
            <div class="segment-display__top">0</div>
            <div class="segment-display__bottom">0</div>
            <div class="segment-overlay">
              <div class="segment-overlay__top">0</div>
              <div class="segment-overlay__bottom">0</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="time-section"
      [id]="elementIdPrefix + '-countdown-clock-seconds'">
      <p class="label">Seconds</p>
      <div class="time-group">
        <div class="time-segment">
          <div class="segment-display">
            <div class="segment-display__top">0</div>
            <div class="segment-display__bottom">0</div>
            <div class="segment-overlay">
              <div class="segment-overlay__top">0</div>
              <div class="segment-overlay__bottom">0</div>
            </div>
          </div>
        </div>
        <div class="time-segment">
          <div class="segment-display">
            <div class="segment-display__top">0</div>
            <div class="segment-display__bottom">0</div>
            <div class="segment-overlay">
              <div class="segment-overlay__top">0</div>
              <div class="segment-overlay__bottom">0</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
