p{
    margin: 0rem;
}

.container {
    --clock-size-medium: 1.5rem;
    --clock-size-big: 2.5rem;
}

/* markup class */
.countdown {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .time-section {
        text-align: center;
    
        .label {
            margin-bottom: 0.25rem;
        }

        .time-group {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.125rem;

            .time-segment {
                display: block; 
                font-weight: var(--font-weight-bold);

                .segment-display {
                    position: relative;
                    height: 100%;
                    font-size: var(--font-size-l);
                    font-weight: var(--font-weight-bold);

                    .segment-display__top, .segment-display__bottom {
                        position: relative;
                        overflow: hidden;
                        text-align: center;
                        width: 100%;
                        height: 50%;
                    }

                    .segment-display__top{
                        line-height: 1.5;
                    }

                    .segment-display__bottom{
                        line-height: 0;
                    }

                    .segment-overlay {
                        position: absolute;
                        top: 0;
                        height: 100%;
                        perspective: 25rem;
    
                        .segment-overlay__top, .segment-overlay__bottom {
                            position: absolute;
                            overflow: hidden;
                            text-align: center;
                            width: 100%;
                            height: 50%;
                        }
    
                        .segment-overlay__top {
                            top: 0;
                            line-height: 1.5;
                        }
    
                        .segment-overlay__bottom {
                            bottom: 0;
                            line-height: 0;
                        }
                    }
                }
            }
        }
    }
}

/* animation class */
.segment-overlay.flip .segment-overlay__top{
    transform-origin: bottom;
    animation: flip-top 0.8s linear;
}

.segment-overlay.flip .segment-overlay__bottom{
    transform-origin: top;
    animation: flip-bottom 0.8s linear;
}


.light-mode {
    color: var(--color-primary);

    .label {
        color: white;
    }
    
    .time-group{
        .time-segment{
            .segment-display{
                .segment-display__top{
                    background-color: white;
                }

                .segment-display__bottom{
                    background-color: var(--color-accent);
                }
            
                .segment-overlay{
                    .segment-overlay__top{
                        background-color: white;
                    }

                    .segment-overlay__bottom{
                        background-color: var(--color-accent);
                    }
                }
            }
        }
    }
}

.dark-mode {
    color: white;

    .label {
        color: var(--color-primary);
    }
    
    .time-group{
        .time-segment{
            .segment-display{
                .segment-display__top{
                    background-color: var(--color-primary);
                }

                .segment-display__bottom{
                    background-color: var(--color-secondary);
                }
            
                .segment-overlay{
                    .segment-overlay__top{
                        background-color: var(--color-primary);
                    }

                    .segment-overlay__bottom{
                        background-color: var(--color-secondary);
                    }
                }
            }
        }
    }
}

.size-medium {
    .time-section {
        .label {
            font-size: var(--font-size-xs);
        }
        
        .time-group{
            .time-segment{
                .segment-display {
                    width: var(--clock-size-medium);
                    height: calc(var(--clock-size-medium) * 1.5);
                    font-size: var(--clock-size-medium);
                    .segment-overlay{
                        width: var(--clock-size-medium);
                    }
                }
            }
        }
    }
}

.size-big {
   .time-section {
        .label {
            font-size: var(--font-size-s);
        }

        .time-group{
            .time-segment{
                .segment-display {
                    width: var(--clock-size-big);
                    height: calc(var(--clock-size-big) * 1.5);
                    font-size: var(--clock-size-big);
                    .segment-overlay{
                        width: var(--clock-size-big);
                    }
                }
            }
        }
   }
}

@keyframes flip-top {
    0% {
        transform: rotateX(0deg);
    }

    50%, 100% {
        transform: rotateX(-90deg);
    }
}

@keyframes flip-bottom {
    0%, 50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

@keyframes text-neon {
    from {
      text-shadow: 0 0 0.25rem #fff, 0 0 0.5rem #fff, 0 0 0.75rem #fff, 0 0 1rem var(--color-warn),
        0 0 1.25rem var(--color-warn), 0 0 1.5rem var(--color-warn), 0 0 1.75rem var(--color-warn), 0 0 2rem var(--color-warn);
    }
    to {
      text-shadow: 0 0 0.125rem #fff, 0 0 0.25rem #fff, 0 0 0.375rem #fff, 0 0 0.5rem var(--color-warn),
        0 0 0.625rem var(--color-warn), 0 0 0.75rem var(--color-warn), 0 0 0.875rem var(--color-warn), 0 0 1rem var(--color-warn);
    }
  }