<div class="container" *ngIf="product">
  <app-breadcrumbs-bar></app-breadcrumbs-bar>
  <div class="layout-container">
    <app-page-section-navigation></app-page-section-navigation>
    <div class="main-content-container" id="main">
      <app-product-hot-badge
        [shouldExposed]="product.isHot"></app-product-hot-badge>
      <app-product-detail-images
        class="images-container"
        [product]="product"></app-product-detail-images>
      <div class="content-container">
        <div class="info-container">
          <p class="product-category" *ngIf="product.category">
            {{ product.category.name }}
          </p>
          <p class="product-name" *ngIf="product.name">{{ product.name }}</p>
          <p class="product-description" *ngIf="product.description">
            {{ product.description }}
          </p>
          <div class="product-price-container">
            <p class="product-price-label">price per product</p>
            <app-product-price-display
              [product]="product"
              [currentMemoryCapacity]="
                currentMemoryCapacity
              "></app-product-price-display>
          </div>
        </div>
        <div class="action-container">
          <app-product-memories-select
            *ngIf="product.memoryCapacities"
            (changeMemoryCapacity)="
              handleChangeMemoryCapacity($event)
            "></app-product-memories-select>
          <app-product-colors-select
            *ngIf="product.colors"
            (changeColor)="
              handleChangeColor($event)
            "></app-product-colors-select>
          <app-product-quantity-select
            (changeQuantity)="
              handleChangeQuantity($event)
            "></app-product-quantity-select>
        </div>
        <div class="payment-action-container">
          <div class="total-price-container">
            <p class="total-price-label">Price in total</p>
            <p class="total-price-value">{{ totalPrice | currency }}</p>
          </div>
          <div class="button-container">
            <button
              class="action-button"
              type="button"
              mat-raised-button
              color="primary">
              Buy
            </button>
            <button
              class="action-button"
              type="button"
              mat-raised-button
              color="warn"
              (click)="addToCart()">
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="description-and-rating-container" id="desc-and-rate">
      <app-product-description-and-rate
        [product]="product"></app-product-description-and-rate>
    </div>
    <div class="related-products-container" id="related-products">
      <app-products-related [listProducts]="listRelatedProducts">
      </app-products-related>
    </div>
  </div>
</div>
