:host {
    display: flex;
  }

.container{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;

  .content {
    display: flex;
    align-items: center;
    gap: 16px;
  
    .icon-background {
      background-color: white;
      position: relative;
      width: 24px;
      height: 24px;
      border-radius: 50%;
  
      .icon {
        position: absolute;
        top: -4px;
        left: -4px;
        width: 32px;
        height: 32px;
        font-size: 32px;
      }

      .success-icon{
        color: var(--color-success);
      }

      .error-icon{
        color: var(--color-danger);
      }
    }
  
    .message {  
      color: white; 
      font-size: var(--font-size-s);
      font-weight: var(--font-weight-regular);
    }
  }
  
  .close-button {
    color: var(--color-accent);
    width: 24px;
    height: 24px;
  
    .mat-icon{
      width: 16px;
      height: 16px;
      font-size: 16px;
      line-height: 16px;
    }
  
    .mat-mdc-button-touch-target{
      width: 24px;
      height: 24px;
    }
  }
}