:host {
    display: flex;
  }

.container{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;

  .content {
    display: flex;
    align-items: center;
    gap: 1rem;
  
    .icon-background {
      background-color: white;
      position: relative;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
  
      .icon {
        position: absolute;
        top: -0.25rem;
        left: -0.25rem;
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
      }

      .success-icon{
        color: var(--color-success);
      }

      .error-icon{
        color: var(--color-danger);
      }
    }
  
    .message {  
      color: white; 
      font-size: var(--font-size-s);
      font-weight: var(--font-weight-regular);
    }
  }
  
  .close-button {
    color: var(--color-accent);
    width: 1.5rem;
    height: 1.5rem;
  
    .mat-icon{
      width: 1rem;
      height: 1rem;
      font-size: 1rem;
      line-height: 1rem;
    }
  
    .mat-mdc-button-touch-target{
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}