<div class="container">
  <div class="content">
    <div class="icon-background">
      <mat-icon class="icon success-icon" *ngIf="data.isSuccess"
        >check_circle</mat-icon
      >
      <mat-icon class="icon error-icon" *ngIf="!data.isSuccess">error</mat-icon>
    </div>
    <span class="message">
      {{ data.message }}
    </span>
  </div>
  <button
    mat-mini-fab
    color="primary"
    class="close-button"
    (click)="snackBarRef.dismissWithAction()">
    <mat-icon>close</mat-icon>
  </button>
</div>
