.form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .row-container {
        width: 100%;
        display: flex;
        gap: 32px;

        .half-col-container{
            width: 50%;
        }
    
        .full-col-container{
            width: 100%;
        }

        .input-container{
            display: flex;
            flex-direction: column;
            gap: 16px;
            
            .input-field {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 4px;
                
                .label {
                    font-size: var(--font-size-xs);
                    font-weight: var(--font-weight-bold);
                    color: var(--color-secondary);
    
                    .required {
                        color: var(--color-danger);
                        font-size: var(--font-size-m);
                    }
                }
                
                .input {
                    height: var(--auth-input-height);
                    width: 100%;
                    padding: 0px 8px;
                    outline: none;
                    border: 1px solid var(--color-accent);
                    border-radius: var(--border-radius-s);
                    transition: background-color 0.25s linear;
                    font-size: var(--font-size-s);
                }
        
                .input-error{
                    border: 1px solid var(--color-danger);
                }
        
                .input:focus-visible{
                    background-color: var(--color-accent);
                }
        
                .error-message {
                    font-size: var(--font-size-xs);
                    font-weight: var(--font-weight-regular);
                    color: var(--color-danger);
                }
    
                .radio-group{
                    display: flex;
                    flex-direction: row;
                    gap: 16px;
                }
            }
    
            .avatar-container{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }


    .action-container{
        margin-top: 16px;
        display: flex;
        justify-content: flex-end;
        gap: 16px;
    }
}
