.label {
    font-size: var(--font-size-s);
    text-transform: capitalize;
    font-weight: var(--font-weight-regular);
    color: var(--color-primary);
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

.quantity-selector{
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow-badge);
    border-radius: var(--border-radius-l);
}

.decrease-button, .increase-button{
    cursor: pointer;
    border: none;
    width: 3rem;
    height: 2.25rem;
    background-color: white;
}

.decrease-button {
    border-right: 0.0625rem solid var(--color-accent);
    border-top-left-radius: var(--border-radius-l);
    border-bottom-left-radius: var(--border-radius-l);
}

.increase-button {
    border-left: 0.0625rem solid var(--color-accent);
    border-top-right-radius: var(--border-radius-l);
    border-bottom-right-radius: var(--border-radius-l);
}

.quantity-value{
    width:  3rem;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-m);
}