<!-- app header bar -->
<mat-toolbar color="primary" class="container sticky-header" id="header-bar">
  <div (click)="navigateToHome()" class="home-container">
    <mat-icon class="apple-icon">apple</mat-icon>
    <span class="home-title">My Apple Store</span>
  </div>
  <span class="spacer"></span>
  <div class="action-container">
    <app-header-search-input></app-header-search-input>
    <button mat-flat-button color="accent">Login</button>
    <button mat-button color="accent">Sign Up</button>
    <app-cart-toggle-button></app-cart-toggle-button>
  </div>
</mat-toolbar>
<!-- should render under space for align other app components -->
<div class="top-bar-under-space" id="header-bar-dummy"></div>
