.container {
    height: var(--header-height);
    width: 100%;

    .home-container{
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
    
        .apple-icon{
            width: var(--font-size-l);
            height: var(--font-size-l);
            font-size: var(--font-size-l);
        }
    
        .home-title {
            font-size: var(--font-size-m);
        }
    }

    .spacer {
        flex: 1 1 auto;
    }

    .action-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}

.background-transition{
    transition: all 0.25s ease-in-out;
}

.top-bar-box-shadow {
    box-shadow: var(--box-shadow-header);
}

.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.top-bar-under-space{
    width: 100%;
    height: var(--header-height);
}