.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .row-container {
        width: 100%;
        display: flex;
        gap: 2rem;

        .half-col-container{
            width: 50%;
        }
    
        .full-col-container{
            width: 100%;
        }

        .input-container{
            .avatar-container{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }


    .action-container{
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }
}
