.label {
    font-size: var(--font-size-s);
    text-transform: capitalize;
    font-weight: var(--font-weight-regular);
    color: var(--color-primary);
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

.options-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.check-icon{
    color: white;
}

.option-button{
    border: 0.125rem solid white;
}