.container {
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: white;
    border-top: 0.0625rem solid var(--color-accent);
    width: 100%;

    .brand-name-container{
        width: 100%;
        padding: 1rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        .brand-name{
            color: var(--color-primary);
            font-size: var(--font-size-xl);
            font-weight: var(--font-weight-bold);
            text-transform: uppercase;
            letter-spacing: 0.25rem;
        }

        .title {
            color: var(--color-primary);
            font-size: var(--font-size-l);
            overflow: hidden; /* Ensures the content is not revealed until the animation */
            border-right: 0.125rem solid orange; /* The typwriter cursor */
            white-space: nowrap; /* Keeps the content on a single line */
            margin: 0 auto; /* Gives that scrolling effect as the typing happens */
            letter-spacing: 0.125rem; /* Adjust as needed */
            animation: 
              typing 10s steps(40, end) infinite,
              blink-caret 1.25s step-end infinite;
        }
    }

    .promo-container{
        width: 100%;
        padding: 2rem 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-primary);

        .title{
            color: var(--color-yellow);
            font-weight: var(--font-weight-light);
            font-size: var(--font-size-l);
            letter-spacing: -0.03125rem;

            .link{
                color: var(--color-yellow);
                font-weight: var(--font-weight-regular);
            }
        }
    }

    .info-and-short-links-wrapper {
        width: 100%;
        background-color: var(--color-primary);
        display: flex;
        justify-content: center;
        align-items: center;

        .info-and-short-links-container {
            padding: 2rem 0rem;
            width: var(--container-fix-width);
            display: flex;
            gap: 2rem;
    
            .short-links-container {
                flex: 2;
            }

            .info-container{
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 2.5rem;
    
                .contact-description-container {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
    
                    .description{
                        color: var(--color-accent);
                        font-size: var(--font-size-s);
                        font-weight: var(--font-weight-medium);

                        .icon{
                            padding-top: 0.25rem;
                            margin-right: 0.25rem;
                        }
                    }
                }
    
                .contact-network-container{
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;
    
                    .fab{
                        font-size: var(--font-size-xl);
                        color: var(--color-accent);
                    }
                }
        
                .subscribe-container{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
    
                    .label{
                        font-size: var(--font-size-m);
                        color: var(--color-yellow);
                    }
    
                    .contact-input-container {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        
                        .contact-email-input{
                            border-radius: var(--border-radius-l);
                            border: 0.0625rem solid var(--color-secondary);
                            height: 2.5rem;
                            width: 100%;
                            padding: 0.5rem 1rem;
                            font-size: var(--font-size-m);
                        }
    
                        .email-submit-button {
                            height: 2.5rem;
                        }
                    }
    
                    .contact-email-input:focus{
                        outline: unset;
                    }
                }
            }
        }
    }
   
    .copy-right-wrapper{
        width: 100%;
        background-color: var(--color-primary);
        display: flex;
        justify-content: center;
        align-items: center;

        .copyright-container{
            padding: 2rem 0rem;
            width: var(--container-fix-width);
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            .copyright{
                color: var(--color-accent);
            }
    
            .service-privacy-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 2rem;
    
                .term-of-service{
                    color: var(--color-secondary);
                    font-weight: var(--font-weight-bold);
                    letter-spacing: -0.03125rem;
                    cursor: pointer;
                }
    
                .term-of-service:hover{
                    color: var(--color-accent);
                }
    
                .privacy-policy{
                    color: var(--color-secondary);
                    font-weight: var(--font-weight-bold);
                    letter-spacing: -0.03125rem;
                    cursor: pointer;
                }
    
                .privacy-policy:hover{
                    color: var(--color-accent);
                }
            }
        }
    }
}


  
/* The typing effect */
@keyframes typing {
  0% { width: 0 }
  25% { width: 100% }
  100% { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--color-yellow); }
}