<div class="container">
  <div class="brand-name-container">
    <p class="brand-name">My Apple Store</p>
    <div class="title-container">
      <p class="title">The BEST Apple Store in the World !</p>
    </div>
  </div>

  <div class="promo-container">
    <p class="title">
      Get all apple products with the most comfortable price
      <a class="link" href="/">here</a> !
    </p>
  </div>

  <div class="info-and-short-links-wrapper">
    <div class="info-and-short-links-container">
      <div class="short-links-container">
        <app-footer-sort-links></app-footer-sort-links>
      </div>
      <div class="info-container">
        <div class="contact-description-container">
          <p class="description">
            <mat-icon class="icon">home</mat-icon>Contact address: 10th Floor,
            UOA Tower, 06 Tan Trao street, Tan Phu Ward, District 7, Ho Chi Minh
            City, Viet Nam.
          </p>
          <p class="description">
            <mat-icon class="icon">phone</mat-icon>Support Phone: 19001009
          </p>
          <p class="description">
            <mat-icon class="icon">email</mat-icon>Support Email: cskh@mas.com
          </p>
        </div>
        <div class="contact-network-container">
          <a href="/" target="_blank" matTooltip="Facebook" matRipple>
            <i class="fab fa-facebook-f"></i>
          </a>

          <a href="/" target="_blank" matTooltip="Youtube" matRipple>
            <i class="fab fa-youtube"></i>
          </a>
          <a href="/ " target="_blank" matTooltip="Instagram" matRipple
            ><i class="fab fa-instagram"></i>
          </a>
          <a href="/" target="_blank" matTooltip="Twitter" matRipple
            ><i class="fab fa-twitter"></i>
          </a>
        </div>
        <div class="subscribe-container">
          <div class="label">
            Sign Up to get 10% discount on your first order !
          </div>
          <div class="contact-input-container">
            <input
              class="contact-email-input"
              type="email"
              placeholder="enter your email" />
            <button mat-fab extended color="yellow" class="email-submit-button">
              <mat-icon>send</mat-icon>Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copy-right-wrapper">
    <div class="copyright-container">
      <p class="copyright">&copy; 2023 - Licensed be long to MAS Limited</p>
      <div class="service-privacy-container">
        <a class="term-of-service" href="/">Term of Service</a>
        <a class="privacy-policy" href="/">Privacy Policy</a>
      </div>
    </div>
  </div>
</div>
