.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .input-container{
        .input-field {
            width: var(--auth-input-width);
            
            .label {
                text-transform: capitalize;
            }
        }
    }

    .action-container {
        width: 100%;

        .login-button{
            height: var(--auth-button-height);
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            .mdc-button__label{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
            }

            .spinner {
                color: white;
                height: 1.5rem !important;
                width: 1.5rem !important;
            }
        }
    }
}