<app-payment-section-header-badge
  title="Receiver's Information"
  iconName="person" />
<div class="container">
  <form class="form-container" [formGroup]="receiverInfoForm">
    <div class="input-container">
      <div class="input-field">
        <p class="label">Full name <span class="required">*</span></p>
        <input
          [ngClass]="{
            input: true
          }"
          name="fullName"
          formControlName="fullName"
          type="text"
          placeholder="enter receiver's full name" />
        <p class="error-message"></p>
      </div>
    </div>
    <div class="general-address-inputs-container">
      <div class="input-container">
        <div class="input-field">
          <p class="label">City / Province<span class="required">*</span></p>
          <div class="select-wrapper">
            <select
              [ngClass]="{
                select: true
              }"
              name="province"
              formControlName="province"
              (change)="handleSelectProvince($event)">
              <option class="placeholder" value="0" selected>
                Select your province
              </option>
              <option
                *ngFor="let province of provinces"
                [value]="province.code">
                {{ province.name }}
              </option>
            </select>
            <mat-icon class="drop-down-icon">arrow_drop_down</mat-icon>
          </div>
          <p class="error-message"></p>
        </div>
      </div>
      <div class="input-container">
        <div class="input-field">
          <p class="label">District<span class="required">*</span></p>
          <div class="select-wrapper">
            <select
              [ngClass]="{
                select: true
              }"
              name="district"
              formControlName="district"
              (change)="handleSelectDistrict($event)">
              <option class="placeholder" value="0" selected>
                Select your district
              </option>
              <option
                *ngFor="let district of districts"
                [value]="district.code">
                {{ district.name }}
              </option>
              <option value="" disabled *ngIf="districts.length === 0">
                Select province first
              </option>
            </select>
            <mat-icon class="drop-down-icon">arrow_drop_down</mat-icon>
          </div>
          <p class="error-message"></p>
        </div>
      </div>
      <div class="input-container">
        <div class="input-field">
          <p class="label">Ward<span class="required">*</span></p>
          <div class="select-wrapper">
            <select
              [ngClass]="{
                select: true
              }"
              name="ward"
              formControlName="ward">
              <option class="placeholder" value="0" selected>
                Select your ward
              </option>
              <option *ngFor="let ward of wards" [value]="ward.code">
                {{ ward.name }}
              </option>
              <option value="" disabled *ngIf="wards.length === 0">
                Select district first
              </option>
            </select>
            <mat-icon class="drop-down-icon">arrow_drop_down</mat-icon>
          </div>
          <p class="error-message"></p>
        </div>
      </div>
    </div>
    <div class="input-container">
      <div class="input-field">
        <p class="label">Address <span class="required">*</span></p>
        <input
          [ngClass]="{
            input: true
          }"
          name="address"
          formControlName="address"
          type="text"
          placeholder="enter receiver's address" />
        <p class="error-message"></p>
      </div>
    </div>
    <div class="input-container">
      <div class="input-field">
        <p class="label">Phone number <span class="required">*</span></p>
        <input
          [ngClass]="{
            input: true
          }"
          name="phoneNumber"
          formControlName="phoneNumber"
          type="tel"
          placeholder="enter receiver's phone number" />
        <p class="error-message"></p>
      </div>
    </div>
  </form>
</div>
