<div class="container">
  <app-user-page-title-badge
    title="My Profile"
    subTitle="update profile info, change your password"
    iconName="account_box" />
  <div class="content-container">
    <mat-tab-group dynamicHeight>
      <mat-tab label="My information">
        <div class="tab-container">
          <app-user-profile-information />
        </div>
      </mat-tab>
      <mat-tab label="My account">
        <div class="tab-container">
          <app-user-profile-account />
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
