.container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .content-container{
        background-color: white;
        border-radius: var(--border-radius-s);
        box-shadow: var(--box-shadow-border);
        padding: 16px;

        .tab-container{
            padding: 32px 16px 16px 16px; 
        }
    }
}