.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .label {
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-m);
        color: var(--color-secondary);
        text-transform: uppercase;
        text-align: center;
    }

    .slider {
        width: 100%;
        position: relative;
    
        .product-card-wrapper {
            margin: 0rem 3rem;
            padding: 0.5rem;
            
            display: flex;
            flex-direction: row;
            gap: 1rem;
        
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
        
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
        
        .product-card-wrapper::-webkit-scrollbar {
            display: none;
        }
        
        .action-button{
            position: absolute;
        }
    
        .previous-button {
            top: calc(50% - 3rem / 2);
            left: 0rem;
        }
    
        .next-button {
            top: calc(50% - 3rem / 2);
            right: -0.5rem;
        }
    }
}

