<div class="container">
  <div class="intro-container">
    <p class="title">What's hot ?</p>
    <p class="description">All hot product with over 1000 purchases</p>
  </div>
  <div class="product-container">
    <div class="content-container">
      <p class="category">Iphone</p>
      <p class="product-name">Iphone 14 Pro Max</p>
      <p class="description">
        The most Super Vip Pro IPhone that ever exist on this earth !
      </p>
    </div>
    <div class="action-container">
      <button mat-button color="warn" class="learn-more-button">
        Learn more
      </button>
      <button mat-flat-button color="primary" class="buy-button">Buy it</button>
    </div>
    <div class="image-container">
      <img
        class="image medium-size"
        src="/assets/images/iphone/home-images/iphone-14-pro-max-transparent.png" />
    </div>
  </div>

  <div class="product-container">
    <div class="content-container">
      <p class="category">IPad</p>
      <p class="product-name">IPad Pro M2 (2022)</p>
      <p class="description">
        The most Super Vip Pro IPad that ever exist on this earth !
      </p>
    </div>
    <div class="action-container">
      <button mat-button color="warn" class="learn-more-button">
        Learn more
      </button>
      <button mat-flat-button color="primary" class="buy-button">Buy it</button>
    </div>
    <div class="image-container">
      <img
        class="image medium-size"
        src="/assets/images/ipad/home-images/ipad-group-transparent.png" />
    </div>
  </div>

  <div class="product-container">
    <div class="content-container">
      <p class="category">IWatch</p>
      <p class="product-name">IWatch Series 6</p>
      <p class="description">
        The most Super Vip Pro IWatch that ever exist on this earth !
      </p>
    </div>
    <div class="action-container">
      <button mat-button color="warn" class="learn-more-button">
        Learn more
      </button>
      <button mat-flat-button color="primary" class="buy-button">Buy it</button>
    </div>
    <div class="image-container">
      <img
        class="image small-size"
        src="/assets/images/iwatch/home-images/iwatch-series-6-transparent.png" />
    </div>
  </div>
</div>
