p {
    margin: 0rem;
}

.container {
    background-color: var(--color-primary);
    padding-top: var(--section-gap);
    padding-bottom: var(--section-gap);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    
    .intro-container{
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        
        .title {
            font-size: var(--font-size-2xl);
            font-weight: var(--font-weight-regular);
            text-align: center;
            color: white;
        }
    
        .description{
            color: white;
            font-size: var(--font-size-m);
            font-weight: var(--font-weight-regular);
            text-align: center;
        }
    }
 

    .product-container{
        width: var(--container-fix-width);
        padding: 0rem 6.25rem 6.25rem 6.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    
        .content-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.25rem;

            .category{
                color: var(--color-secondary);
                font-weight: var(--font-weight-regular);
                font-size: var(--font-size-s);
                text-transform: uppercase;
                text-align: center;
            }

            .product-name{
                color: white;
                font-weight: var(--font-weight-regular);
                font-size: var(--font-size-l);
                text-transform: capitalize;
                text-align: center;
            }

            .description {
                color: white;
                font-weight: var(--font-weight-light);
                font-size: var(--font-size-xl);
            }
        }

        .action-container{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .learn-more-button, .buy-button {
                font-weight: var(--font-weight-regular);
                font-size: var(--font-size-s);
            }
        }

        .image-container{
            display: flex;
            justify-content: center;
            align-items: center;

            .image.medium-size {
                width: 75%;
            }

            .image.small-size{
                width: 50%;
            }
        }
    }
}