p{
    margin: 0px;
}

.container {
    margin-top: 32px;
    color: white;
    font-size: var(--app-font-size-medium);
    font-weight: var(--app-font-weight-regular);

    .flash-sale-title {
        font-size: var(--app-font-size-large);
        font-weight: var(--app-font-weight-regular);
        color: white;
        margin-bottom: 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;   
        align-items: center;
        
        .flash-icon {
            color: var(--app-warn-color);
        }
    }
}

/* markup class */
.countdown{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;


    .time-section {
        text-align: center;
    
        .label {
            font-size: var(--app-font-size-extra-small);
            margin-bottom: 4px;
        }

        .time-group {
            display: flex;
            gap: 2px;

            .time-segment {
                display: block; 
                font-size: var(--app-font-size-large);
                font-weight: var(--app-font-weight-bold);
                color: var(--app-primary-color);
                width: 24px;

                .segment-display {
                    position: relative;
                    height: 100%;

                    .segment-display__top, .segment-display__bottom {
                        overflow: hidden;
                        text-align: center;
                        width: 100%;
                        height: 50%;
                        position: relative;
                    }

                    .segment-display__top{
                        background-color: white;
                        color: var(--app-primary-color);
                        font-weight: var(--app-font-weight-bold);
                        line-height: 1.5;
                    }

                    .segment-display__bottom{
                        background-color: var(--app-accent-color);
                        color: var(--app-primary-color);
                        font-weight: var(--app-font-weight-bold);
                        line-height: 0;
                    }
                }

                .segment-overlay {
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 24px;
                    perspective: 400px;

                    .segment-overlay__top, .segment-overlay__bottom {
                        position: absolute;
                        overflow: hidden;
                        text-align: center;
                        width: 100%;
                        height: 50%;
                    }

                    .segment-overlay__top {
                        top: 0;
                        line-height: 1.5;
                        color: var(--app-primary-color);
                        font-weight: var(--app-font-weight-bold);
                        background-color: white;
                    }

                    .segment-overlay__bottom {
                        bottom: 0;
                        line-height: 0;
                        color: var(--app-primary-color);
                        font-weight: var(--app-font-weight-bold);
                        background-color: var(--app-accent-color);
                    }
                }
            }
        }
    }
}

/* animation class */
.segment-overlay.flip .segment-overlay__top{
    transform-origin: bottom;
    animation: flip-top 0.8s linear;
}

.segment-overlay.flip .segment-overlay__bottom{
    transform-origin: top;
    animation: flip-bottom 0.8s linear;
}

@keyframes flip-top {
    0% {
        transform: rotateX(0deg);
    }

    50%, 100% {
        transform: rotateX(-90deg);
    }
}

@keyframes flip-bottom {
    0%, 50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

@keyframes text-neon {
    from {
      text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 16px var(--app-warn-color),
        0 0 20px var(--app-warn-color), 0 0 24px var(--app-warn-color), 0 0 28px var(--app-warn-color), 0 0 32px var(--app-warn-color);
    }
    to {
      text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px var(--app-warn-color),
        0 0 10px var(--app-warn-color), 0 0 12px var(--app-warn-color), 0 0 14px var(--app-warn-color), 0 0 16px var(--app-warn-color);
    }
  }