<div class="tab-container" *ngIf="product">
  <div class="description-container" *ngIf="product.description">
    <p class="label">Product's description</p>
    <p class="description">{{ product.description }}</p>
  </div>
  <div
    class="images-container"
    *ngIf="product.imageUrl || product.subImageUrls">
    <p class="label">Product's images</p>
    <div class="images-wrapper">
      <img class="image" alt="product-main-image" [src]="product.imageUrl" />
      <img
        class="image"
        *ngFor="let imageUrl of product.subImageUrls"
        alt="product-sub-image"
        [src]="imageUrl" />
    </div>
  </div>
</div>
