.container {
    width: 100%;
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    gap: 16px;

    .column {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .title{
            font-size: var(--font-size-s);
            font-weight: var(--font-weight-bold);
            color: var(--color-accent);
            text-transform: uppercase;
        }

        .short-links-container{
            display: flex;
            flex-direction: column;
            gap: 4px;

            .short-link {
                cursor: pointer;
                color: var(--color-secondary);
            }

            .short-link:hover{
                color: var(--color-accent);
            }

            .payment-name { 
                color: var(--color-secondary);

                .payment-icon {
                    margin-left: 4px;
                    height: 24px;
                }
            }
        }
    }
}