<div class="container">
  <app-payment-section-header-badge
    title="Voucher applied Information"
    iconName="card_membership" />
  <div class="content-container">
    <div
      class="not-applied-any-voucher-container"
      *ngIf="appliedVouchers.length === 0">
      <p class="title">You haven't apply any voucher yet !</p>
      <button
        mat-button
        mat-raised-button
        color="primary"
        (click)="openDialog()">
        <mat-icon>list</mat-icon> See list vouchers
      </button>
    </div>
    <div class="applied-vouchers-container" *ngIf="appliedVouchers.length > 0">
      <div class="header-container">
        <div class="guide-text-container">
          <p class="header-title">Applied vouchers:</p>
          <p class="applied-best-vouchers-title" *ngIf="isAppliedBestVouchers">
            All the best vouchers have been applied for your purchased !
          </p>
          <p
            class="not-applied-best-vouchers-title"
            *ngIf="!isAppliedBestVouchers">
            You have not applied the best voucher for this purchased. Please,
            check the vouchers list again !
          </p>
        </div>
        <button
          mat-button
          mat-raised-button
          color="primary"
          (click)="openDialog()"
          class="see-list-button">
          <mat-icon>list</mat-icon> See list vouchers
        </button>
      </div>
      <app-payment-voucher-applied-card
        *ngFor="let voucher of appliedVouchers"
        [voucher]="voucher" />
    </div>
  </div>
</div>
