.container {
    background-color: white;
    border-radius: var(--border-radius-m);
    box-shadow: var(--box-shadow-border);
    padding: 16px;
    display: flex;
    gap: 32px;
    transition: all 0.25s ease-in-out;

    .image-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .image{
            height: 120px;
        }
    }

    .info-container{
        flex: 4;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .info-container{
            display: flex;
            flex-direction: column;
            gap: 8px;

            .name{
                font-size: var(--font-size-m);
                color: var(--color-primary);
            }
    
            .colors-container{
                display: flex;
                align-items: center;
                gap: 8px;
    
                .color-badge{
                    cursor: pointer;
                    height: 24px;
                    width: 32px;
                    border-radius: var(--border-radius-s);
                }
            }
    
            .memory-capacities-container{
                display: flex;
                align-items: center;
                gap: 8px;
    
                .memory-capacity-badge{
                    padding: 0px 4px;
                    cursor: pointer;
                    font-size: var(--font-size-xs);
                    color: var(--color-secondary);
                    border-radius: var(--border-radius-s);
                    border: 1px solid var(--color-secondary);
                }
            }
        }
    }

    .actions-container{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 16px;

        .action-button {
            width: 100%;
            padding: 0px 16px;
            font-size: var(--font-size-xs);

            .mat-mdc-button-touch-target{
                height: 32px;
            }
        }
    }
}

.container:hover{
    box-shadow: var(--box-shadow-header);
    transform: translateY(-4px);
}