.container {
    padding: 15px;
}

mat-slider{
    width: 180px;
}

.container-title {
 text-transform: uppercase;
}

.radio-group { 
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

h5 {
    margin: 4px 0px;
}

p {
    font-size: var(--app-font-size-extra-small);
    margin: 4px 0px;
}

strong {
    font-size: var(--app-font-size-extra-small);
}