.container{
    background-color: var(--color-background);
    width: 100%;

    .drawer-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .drawer-container {
            width: var(--container-fix-width);
            min-height: max-content;
            padding: 40px 0px;

            .drawer{
                background-color: var(--color-background);
                border: none;
                
                .mat-drawer-inner-container {
                    padding: 16px;
                }
            }
            
            .drawer-content{
                padding: 16px;
                min-height: 50vh;
            }
        }
    }
}