p {
    margin: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 4px;
    
    .label{
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-bold);
    }

    .value-range{
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-regular);
    }

    .value-slider{
        width: 180px;
    }
}