p {
    margin: 0rem;
}

.container{
    background-color: var(--color-background);
    min-height: calc(100vh - var(--header-height));

    .layout-container {
        max-width: var(--container-fix-width);
        margin: 4rem auto;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        .main-content-container {
            background-color: white;
            border-radius: var(--border-radius-s);
            box-shadow: var(--box-shadow-container);
            padding: 2rem;
            display: flex;
            flex-direction: row;
            position: relative;

            .images-container{
                flex: 1;
            }
            
            .content-container {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 0rem 1.25rem;

                .info-container {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .product-category {
                        font-size: var(--font-size-xs);
                        color: var(--color-secondary);
                        text-transform: uppercase;
                        font-weight: var(--font-weight-regular);
                    }
                    
                    .product-name{
                        font-size: var(--font-size-xl);
                        color: var(--color-primary);
                        text-transform: capitalize;
                        font-weight: var(--font-weight-regular);
                    }
                    
                    .product-description {
                        font-size: var(--font-size-s);
                        color: var(--color-secondary);
                        font-weight: var(--font-weight-regular);
                    }

                    .product-price-container{
                        .product-price-label{
                            font-size: var(--font-size-s);
                            text-transform: capitalize;
                            font-weight: var(--font-weight-regular);
                            color: var(--color-primary);
                            margin-bottom: 0.5rem;    
                        }
                        
                        .product-price { 
                            margin-top: 0.5rem;
                            font-size: var(--font-size-m);
                            color: var(--color-primary);
                            font-weight: var(--font-weight-bold);
                        }
                    }
                }

                .action-container{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
                
                .payment-action-container{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                
                    .total-price-container{
                        width: fit-content;
                    
                        .total-price-label{
                            font-size: var(--font-size-s);
                            text-transform: capitalize;
                            font-weight: var(--font-weight-regular);
                            color: var(--color-primary);
                            margin-top: 0rem;
                        }
                        
                        .total-price-value{
                            margin-top: 0.5rem;
                            font-size: var(--font-size-l);
                            color: var(--color-primary);
                            font-weight: var(--font-weight-bold);
                        }
                    }
                    
                    .button-container{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        gap: 1.25rem;   
                    
                        .action-button {
                            flex: 1;
                            width: 100%;
                            font-size: var(--font-size-m);
                            font-weight: 400;
                            height: 3rem;
                        }
                    }
                    
                }
            }
        }

        .related-products-container {
            width: 100%;
        }
        
        .description-and-rating-container{
            width: 100%;
        }
    }
}
