.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    
    .label{
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-bold);
    }

    .check-box .mdc-label{
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-regular);
        color: var(--color-primary);
        letter-spacing: 0px;
    }
}