.container {
    width: 18.75rem;

    .menu-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0rem;

        .user-info-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
    
            .user-name{
                font-size: var(--font-size-m);
                font-weight: var(--font-weight-bold);
                color: var(--color-primary);
            }
        }
    
        .menu-item{
            cursor: pointer;
        }
    
        .menu-item:hover{
            span{
                font-weight: var(--font-weight-bold);
            }
        }
    }
}