<div class="container">
  <mat-nav-list class="menu-container">
    <div mat-subheader *ngIf="user" class="user-info-container">
      <img [src]="user.avatarUrl" alt="user avatar" class="avatar" />
      <p class="user-name">{{ user.userName }}</p>
    </div>
    <mat-list-item
      [activated]="option.navigateUrl === currentPath"
      class="menu-item"
      *ngFor="let option of userNavigateOptions"
      (click)="navigateToUserPage(option.navigateUrl)"
      [lines]="1">
      <mat-icon matListItemIcon>{{ option.iconName }}</mat-icon>
      <div matListItemTitle>{{ option.name }}</div>
      <span matListItemLine *ngIf="option.description">{{
        option.description
      }}</span>
    </mat-list-item>
  </mat-nav-list>
</div>
