.container {
    width: 300px;

    .menu-container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .user-info-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
    
            .user-name{
                font-size: var(--app-font-size-medium);
                font-weight: var(--app-font-weight-bold);
                color: var(--app-color-primary);
            }
        }
    
        .menu-item{
            cursor: pointer;
        }
    
        .menu-item:hover{
            span{
                font-weight: var(--app-font-weight-bold);
            }
        }
    }
}