.container {
    padding: 1rem;
    background-color: white;
    border-radius: var(--border-radius-m);
    box-shadow: var(--box-shadow-container);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .title { 
        text-align: center;
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-bold);
        text-transform: capitalize;
        letter-spacing: 0.025rem;
    }

    .items-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .total-items {
            padding: 0.5rem;
            border-radius: var(--border-radius-s);
            background-color: var(--color-accent);
            font-size: var(--font-size-s);
            color: var(--color-secondary);

            .value {
                color: var(--color-primary);
            }
        }
    }
}