.container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .intro-container{
        display: flex;
        flex-direction: column;
        gap: 8px;

        .title{
            font-size: var(--app-font-size-medium);
            font-weight: var(--app-font-weight-bold);
            color: var(--app-primary-color);
        }

        .description {
            font-size: var(--app-font-size-small);
            font-weight: var(--app-font-weight-regular);
            color: var(--app-secondary-color);
        }
    }

    .content-container{
        background-color: white;
        padding: 20px;

        .tab-container{
            padding: 20px;
        }
    }
}