.container{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-end;

    .code-input-container{
        width: 100%;
    }

    .button-container{
        padding: 0.25rem;
        
        .apply-button {
            height: var(--auth-input-height);
        }
    }
}