<div class="container">
  <div class="intro-container">
    <p class="title">
      Super F<mat-icon class="flash-icon">flash_on</mat-icon>ash Sale 13/13
    </p>
    <p class="description">Get all you need with the cheapest price</p>
  </div>
  <div class="action-container">
    <button
      mat-button
      color="warn"
      class="see-all-button"
      (click)="navigateToFlashSaleProductsPage()">
      See All
    </button>
  </div>
  <div class="clock-container">
    <app-home-flash-sale-clock
      elementIdPrefix="home-flash-sale-products"
      mode="dark"
      size="big"></app-home-flash-sale-clock>
  </div>
  <div class="products-container">
    <div class="wrapper" id="flash-sale-products-card-wrapper">
      <div class="product-card" *ngFor="let product of products">
        <div class="image-container">
          <img [src]="product.imageUrl" alt="hot product image" class="image" />
        </div>
        <div class="overlay">
          <p class="product-name">{{ product.name }}</p>
          <p class="product-price">
            From
            {{
              product.price + (product.memoryCapacities?.[0]?.plusPrice || 0)
                | currency
            }}
          </p>
          <button
            mat-flat-button
            color="warn"
            (click)="navigateToDetailProduct(product.name)">
            See more
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
