<button
  *ngIf="!isAuth"
  mat-flat-button
  color="accent"
  (click)="navigateToLogin()">
  Login
</button>
<button *ngIf="!isAuth" mat-button color="accent">Sign Up</button>
<div
  mat-ripple
  [matMenuTriggerFor]="userMenu"
  matTooltip="My account"
  *ngIf="user"
  class="user-info-container">
  <app-user-avatar [avatarUrl]="user.avatarUrl" [size]="32"></app-user-avatar>
</div>
<mat-menu #userMenu="matMenu">
  <button
    mat-menu-item
    *ngFor="let option of userNavigateOptions"
    (click)="navigateToUserPage(option.navigateUrl)">
    <mat-icon>{{ option.iconName }}</mat-icon>
    <span>{{ option.name }}</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Sign out</span>
  </button></mat-menu
>
