.container{
    height: 100%;
    width: 100%;

    .paginator-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
        padding: 4px 16px;
        background-color: white;
        box-shadow: var(--box-shadow-border);
        border-radius: var(--border-radius-s);
    }
    
    .paginator-header-badge {
        width: fit-content;
        font-weight: var(--font-weight-regular);
        color: var(--color-secondary);
    }
    
    .paginator-header-badge > p {
        width: fit-content;
        font-size: var(--font-size-xs);
    }
    
    .paginator-header-badge > p > span {
        color: var(--color-primary);
    }
    
    .paginator-header-badge span.search-term{
        color: var(--color-warn);
        font-weight: var(--font-weight-bold);
    }
    
    .page-size-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }
    
    .page-size-selector {
        width: 150px;
        height: 30px;
        padding: 2px 8px; 
        background-color: white;
        outline: unset;
        box-shadow: var(--box-shadow-badge);
        font-size: var(--font-size-xs);
        border-radius: var(--border-radius-s);
        font-weight: var(--font-weight-regular);
        border: none;
    }
    
    .page-size-selector:focus-visible{
        outline: unset;
    }
    
    .no-products-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    
        .title {
            margin: 0px;
            font-size: var(--font-size-l);
            font-weight: var(--font-weight-bold);
            color: var(--color-primary);
        }
    
        .guide-text{
            margin: 0px;
            font-size: var(--font-size-m);
            font-weight: var(--font-weight-regular);
            color: var(--color-secondary);
        }
    
        .reset-button {
            margin-top: 16px;
            height: 48px;
            font-size: var(--font-size-m);
            font-weight: var(--font-weight-regular);
            letter-spacing: 0px;
        }
    }
    
    .paginator-footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .page-select-container{
        margin-top: 80px;
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
    
    .page-select-button {
        cursor: pointer;
        padding: auto;
        border: unset;
        background-color: transparent;
        width: 36px;
        height: 36px;
        color: var(--color-secondary);
        font-size: var(--font-size-m);
        border-radius: 50%;
    }
    
    .jump-page-button {
        cursor: pointer;
        color: var(--color-secondary);
        width: 40px;
        height: 40px;
        font-size: var(--font-size-l);
        border-radius: 50%;
        padding: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .jump-page-button:hover{
        background-color: var(--color-accent);
    
    }
    
    .button-selected {
        background-color: var(--color-primary);
        color: white;
    }
    
    .button-unselected:hover {
        background-color: var(--color-accent);
    }
}
