<div class="container">
  <div class="paginator-header" *ngIf="totalElements > 0">
    <div class="product-number paginator-header-badge">
      <p>
        Number of products:
        <span>
          {{ totalElements }}
        </span>
        <span *ngIf="searchTerm"
          >(match search keyword: "<span class="search-term">{{
            searchTerm
          }}</span
          >")</span
        >
      </p>
    </div>
    <div class="page-size-container paginator-header-badge">
      <p>Paginate by:</p>
      <select class="page-size-selector" (change)="changeOffset($event)">
        <option
          *ngFor="let option of elementsPerPageOptions"
          [value]="option.value"
          [selected]="option.value === currentOffset">
          {{ option.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="no-products-container" *ngIf="totalElements === 0">
    <p class="title">No products match this search !</p>
    <p class="guide-text">
      Please, check your search keyword or update the filter
    </p>
  </div>

  <div class="paginator-body">
    <!-- insert product list component here -->
    <ng-content> </ng-content>
  </div>

  <div class="paginator-footer" *ngIf="totalElements > 0">
    <div class="page-select-container">
      <mat-icon
        matRipple
        matTooltip="Previous page"
        class="jump-page-button"
        (click)="previousPage()"
        >arrow_back_ios</mat-icon
      >
      <button
        *ngFor="let item of [].constructor(this.pageMax); let i = index"
        matRipple
        matRippleColor="accent"
        [matTooltip]="'To page ' + (i + 1).toString()"
        type="button"
        [class]="
          'page-select-button ' +
          (i + 1 === currentPage ? 'button-selected' : 'button-unselected')
        "
        (click)="selectPage(i + 1)">
        {{ i + 1 }}
      </button>
      <mat-icon
        matRipple
        matTooltip="Next page"
        class="jump-page-button"
        (click)="nextPage()"
        >arrow_forward_ios</mat-icon
      >
    </div>
  </div>
</div>
