<mat-sidenav-container class="sidenav-container" hasBackdrop>
  <mat-sidenav
    [opened]="isOpened"
    position="end"
    mode="over"
    class="sidenav"
    id="cart-sidenav"
    disableClose>
    <div *ngIf="totalItems > 0" class="non-empty-cart">
      <div class="header">
        <p class="header-title">
          Total items:
          <span class="total-items-text">{{ totalItems }}</span>
        </p>
        <div class="check-all-items-container">
          <span class="title">Get all items</span>
          <mat-checkbox
            [ngClass]="{ checkbox: true, 'is-not-checked': !isCheckedAll }"
            color="primary"
            [checked]="isCheckedAll"
            (change)="checkAllItems($event)" />
        </div>
      </div>
      <div class="body">
        <app-cart-item-card
          *ngFor="let item of items"
          [item]="item"></app-cart-item-card>
      </div>
      <div class="footer">
        <div class="have-select-item">
          <p class="label" *ngIf="checkedItemNumb > 0">
            Items selected:
            <span class="value">{{ checkedItemNumb }}</span>
          </p>
          <p class="label" *ngIf="checkedItemNumb > 0">
            Price in total:
            <span class="value">{{ totalPrices | currency }}</span>
          </p>
        </div>
        <p class="not-select-any-item" *ngIf="checkedItemNumb === 0">
          You have not selected any item yet !
        </p>
        <button
          class="to-payment-button"
          mat-raised-button
          color="primary"
          [disabled]="checkedItemNumb === 0"
          (click)="toPayment()">
          To Payment
        </button>
      </div>
    </div>
    <div *ngIf="totalItems === 0" class="empty-cart">
      <div class="empty-icon-container">
        <mat-icon class="mood-bad-icon">mood_bad</mat-icon>
        <mat-icon class="cart-icon">shopping_cart</mat-icon>
      </div>
      <p class="title">Your Cart Is Empty !</p>
      <p class="guide-text">
        Must add items on the cart before you process to checkout
      </p>
      <button
        mat-fab
        extended
        color="success"
        class="shop-now-button"
        (click)="onGetProductPage()">
        <mat-icon>shopping_cart</mat-icon>
        Shop now
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="content-container" id="cart-sidenav-content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
