p {
    margin: 0px;
} 

.container{
    width: var(--container-fix-width);
    height: var(--breadcrumbs-height);
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 32px;
    padding: 0px 16px;
    box-shadow: var(--box-shadow-border);
    border-radius: var(--border-radius-s);
    margin-bottom: 20px;
}

.sticky {
    position: fixed;
    margin: 0px;
    left: calc((100vw - var(--container-fix-width)) / 2);
    transform: translate(calc(0px - ((100vw - var(--container-fix-width)) / 2)), 0);
    top: var(--header-height);
    width: 100vw;
    z-index: 9;
    border-radius: 0px;
}

.label {
    font-weight: var(--font-weight-bold);
}

.section{
    cursor: pointer;
    width: fit-content;
    height: var(--breadcrumbs-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section:hover{
    color: var(--color-warn);
}

.selected {
    color: var(--color-warn);
    border-bottom: 2px solid var(--color-warn);
}

.unselected{
    color: var(--color-secondary);
    border-bottom: none;
}

.dummy{
    height: 0px;
}

.sticky + .dummy{
    height: calc(var(--breadcrumbs-height) + 20px);
}