<div class="container" *ngIf="item">
  <div class="info-container">
    <div class="image-wrapper">
      <img
        class="image"
        [src]="item.product.imageUrl"
        alt="product-main-image" />
    </div>
    <div class="info-wrapper">
      <p class="main-title product-name">{{ item.product.name }}</p>
      <p class="sub-title">
        Color: {{ item.selectedColor?.name || "default" }}
      </p>
      <p class="sub-title">
        Memory: {{ item.selectedMemory?.name || "default" }}
      </p>
      <div class="sub-title price-container">
        Price:
        <app-product-price-display
          [textSize]="'small'"
          [product]="item.product"
          [currentMemoryCapacity]="
            item.selectedMemory
          "></app-product-price-display>
      </div>
    </div>
  </div>
  <div class="action-container">
    <p class="price-value">
      Price in total:
      {{ totalPrice | currency }}
    </p>
    <div class="action-wrapper">
      <app-cart-item-quantity-select
        [itemId]="item.id"
        [quantity]="item.quantity"></app-cart-item-quantity-select>
      <button
        mat-flat-button
        color="primary"
        class="action-button"
        (click)="onGetDetailProduct()">
        Detail
      </button>
      <button
        mat-flat-button
        color="accent"
        class="action-button"
        (click)="openDialog()">
        Remove
      </button>
    </div>
  </div>
</div>
