<div class="container" *ngIf="item">
  <mat-checkbox
    class="checkbox"
    color="primary"
    [checked]="item.checked"
    (change)="checkItem($event)" />
  <div class="info-container">
    <div class="image-wrapper">
      <img
        class="image"
        [src]="item.product.imageUrl"
        alt="product-main-image" />
    </div>
    <div class="info-wrapper">
      <p class="main-title product-name">{{ item.product.name }}</p>
      <p class="sub-title">
        Color: {{ item.selectedColor?.name || "default" }}
      </p>
      <p class="sub-title">
        Memory: {{ item.selectedMemory?.name || "default" }}
      </p>
      <div class="sub-title price-container">
        Price:
        <app-product-price-display
          [textSize]="'small'"
          [product]="item.product"
          [currentMemoryCapacity]="
            item.selectedMemory
          "></app-product-price-display>
      </div>
    </div>
  </div>
  <div class="action-container">
    <p class="price-value">
      Price in total:
      <span class="value"> {{ totalPrice | currency }}</span>
    </p>
    <div class="action-wrapper">
      <app-item-quantity-select
        *ngIf="item"
        [quantity]="item.quantity"
        [increaseQuantityCallback]="increaseItemQuantity"
        [decreaseQuantityCallback]="
          decreaseItemQuantity
        "></app-item-quantity-select>
      <button
        mat-flat-button
        color="primary"
        class="action-button"
        (click)="onGetDetailProduct()">
        Detail
      </button>
      <button
        mat-flat-button
        color="accent"
        class="action-button"
        (click)="handleRemoveItem()">
        Remove
      </button>
    </div>
  </div>
</div>
