<div class="container">
  <app-breadcrumbs-bar> </app-breadcrumbs-bar>
  <div class="layout-container">
    <div class="payment-content-container">
      <div class="payment-info-wrapper">
        <app-payment-user-info />
        <app-payment-shipping-info />
        <app-payment-vouchers-info />
        <app-payment-method-info />
      </div>
      <div class="bag-and-total-info-wrapper">
        <app-payment-bag-info />
        <app-payment-total-and-action />
      </div>
    </div>
  </div>
</div>
