.container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-background);
    
    .layout-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2.5rem 0rem 5rem 0rem;

        .payment-content-container {
            width: var(--container-fix-width);
            display: flex;
            gap: 1.5rem;

            .payment-info-wrapper{
                flex: 2;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            .bag-and-total-info-wrapper {
                flex: 1;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        }
    }
}