/* Global Styles */
:root{
  /* dimension values */
  /* components */
  --header-height: 60px;
  --breadcrumbs-height: 40px;
  --product-filter-side-nav-width: 240px;
  --cart-side-nav-width: 320px;
  --cart-side-nav-height: calc(100vh - var(--header-height));
  --cart-side-nav-header-height: 40px;
  --cart-side-nav-footer-height: 100px;
  --banner-fix-height: 625px;
  /* section gap */
  --section-gap: 80px;
  /* auth component */
  --auth-input-width: 320px;
  --auth-input-height: 40px;
  --auth-button-height: 48px;
  
  /* container */
  --container-fix-width: 1200px;

  /* color values */
  --color-primary: #191919;
  --color-secondary: #6b6b6b;
  --color-accent: #e6e8e6;
  --color-warn: #f15125;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-yellow: #ffc107;
  --color-background: #fafafa;

  /* font size values */
  --font-size-2xs: 12px;
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-size-2xl: 48px;
  --font-size-3xl: 56px;
  
  /* font weight values */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  
  /* border radius values */
  --border-radius-xs: 4px;
  --border-radius-s: 8px;
  --border-radius-m: 12px;
  --border-radius-l: 16px;
  --border-radius-xl: 20px;

  /* box shadow values */
  --box-shadow-border: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  --box-shadow-container: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --box-shadow-badge: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --box-shadow-header:  rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

* {
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
}

/* mat button color values */

.mat-success {
  color: white !important;
  background-color: var(--color-success) !important;
}

.mat-danger {
  color: white !important;
  background-color: var(--color-danger) !important;
}

.mat-yellow {
  color: var(--color-primary) !important;
  background-color: var(--color-yellow) !important;
}

/* global component styles */
.mat-mdc-snack-bar-container {
  &.snack-bar-container {
    --mdc-snackbar-container-color: var(--color-primary);
    --mat-mdc-snack-bar-button-color: var(--color-primary) ;
    --mdc-snackbar-supporting-text-color: var(--color-primary);
  }
}