.card-container {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-radius: var(--border-radius-s);
    filter: drop-shadow(0 0px 2px rgba(0, 0, 0, 0.4));
    width: 22.5rem;
    display: flex;
    transition: filter 0.25s ease-in-out;

    .value-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0;

        .value-top {
            width: 100%;
            height: 0.5rem;
            background-image: radial-gradient(
                circle at calc(100%) 0,
                transparent 0.5rem,
                white 0.5rem
            ); 
        }

        .value-bottom {
            width: 100%;
            height: 0.5rem;
            background-image: radial-gradient(
                circle at calc(100%) 100%,
                transparent 0.5rem,
                white 0.5rem
            ); 
        }

        .value-mid {
            background-color: white;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 0.125rem dashed var(--color-secondary);
            height: calc(100% - 1rem);

            .value {
                color: var(--color-warn);
                font-weight: var(--font-weight-bold);
                font-size: var(--font-size-m);
            }
        }
    }

    .description-container {
        flex: 4;
        border-top-right-radius: var(--border-radius-s);
        border-bottom-right-radius: var(--border-radius-s);
        padding: 0.75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;

        .title-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.25rem;

            .title {
                font-size: var(--font-size-m);
                font-weight: var(--font-weight-bold);
                color: var(--color-primary);
            }
        }

        .code {
            font-size: var(--font-size-xs);
            font-weight: var(--font-weight-regular);
            color: var(--color-secondary);
        }

        .description {
            font-size: var(--font-size-xs);
            font-weight: var(--font-weight-regular);
            color: var(--color-secondary);
        }

        .valid-date {
            font-size: var(--font-size-xs);
            font-weight: var(--font-weight-regular);
            color: var(--color-primary);
        }
    }
}

.card-container::before,
.card-container::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
}

.card-container.available::before {
  top: 0;
  background-image: radial-gradient(
    circle at calc(20% - 0.5rem) 0,
    transparent 0.5rem,
    var(--color-warn-background) 0.5rem
  );
}

.card-container.available::after {
  bottom: 0;
  background-image: radial-gradient(
    circle at calc(20% - 0.5rem) 100%,
    transparent 0.5rem,
    var(--color-warn-background) 0.5rem
  );
}

.card-container.available:hover{
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5))
}

.card-container.not-available {
    cursor: auto;

    .value-container{
        .value-top {
            background-image: radial-gradient(
                circle at calc(100%) 0,
                transparent 0.5rem,
                var(--color-accent) 0.5rem
            ); 
        }

        .value-bottom {
            background-image: radial-gradient(
                circle at calc(100%) 100%,
                transparent 0.5rem,
                var(--color-accent) 0.5rem
            ); 
        }

        .value-mid{
            background-color: var(--color-accent);

            .value{
                color: var(--color-secondary)
            }
        }
    }

    .description-container {
        .title-container{
            .title{
                color: var(--color-secondary);
            }
        }

        .valid-date {
            color: var(--color-secondary);
        }
    }
}

.card-container.not-available::before {
    top: 0;
    background-image: radial-gradient(
      circle at calc(20% - 0.5rem) 0,
      transparent 0.5rem,
      var(--color-accent) 0.5rem
    );
}

.card-container.not-available::after {
    bottom: 0;
    background-image: radial-gradient(
      circle at calc(20% - 0.5rem) 100%,
      transparent 0.5rem,
      var(--color-accent) 0.5rem
    );
}

.suggestion-title{
    width: 22.5rem;
    margin-top: 0.25rem;
    color: var(--color-warn);
    font-size: var(--font-size-s);
}