<div class="container">
  <div class="main-banner">
    <div class="image-container">
      <img
        class="image-background"
        src="/assets/images/iphone/home-images/iphone-14-group-transparent.png" />
      <img
        class="main-image"
        src="/assets/images/iphone/home-images/iphone-14-group-transparent.png"
        alt="iphone 14 groups" />
    </div>
    <div class="content-container">
      <p class="title">My Apple Store</p>
      <p class="description">
        The <span class="high-light-text">Best</span> Apple Store in the world
      </p>
      <div class="flash-sale-container">
        <app-home-flash-sale></app-home-flash-sale>
      </div>
      <button
        mat-raised-button
        color="warn"
        class="shop-now-button"
        (click)="getListProductsPage()">
        <mat-icon class="shopping-icon">shopping_cart</mat-icon> shop now
      </button>
    </div>
  </div>
</div>
