p{
    margin: 0px;
}

.container{
    height: var(--home-banner-fix-height);
    background-color: var(--app-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;    

    .main-banner{
        height: var(--home-banner-fix-height);
        width: var(--app-container-fix-width-lg);
        padding: 120px 0px;
        display: flex;
        flex-direction: row;  
        align-items: center;
        justify-content: center;      

        .image-container{
            flex: 1;
            height: 100%;
            position: relative;

            .image-background {
                position: absolute;
                z-index: 1;
                top: 5%;
                left: 5%;
                height: 90%;
                border-radius: 50%;

                /* @keyframes duration | easing-function | delay |
                iteration-count | direction | fill-mode | play-state | name */

                opacity: 0;
                animation: 2s ease 0.5s forwards fade-in, 2s ease 0.5s forwards box-shadow-fade-in;
            }

            .main-image{
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                height: 100%;
                width: auto;
            }
        }
       
        .content-container{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .title {
                font-weight: var(--app-font-weight-bold);
                font-size: var(--home-font-size-medium);
                text-transform: uppercase;
                color: white;
                letter-spacing: -1px;

                animation: 1s ease-in fade-in;
            }

            .description {
                font-weight: var(--app-font-weight-regular);
                font-size: var(--app-font-size-medium);
                color: white;
                animation-name: fade-in;
                animation-duration: 2s;
            }

            .high-light-text{
                color: var(--app-warn-color);
                text-transform: uppercase;
            }

            .shop-now-button{
                font-size: var(--app-font-size-small);
                font-weight: var(--app-font-weight-regular);
                text-transform: uppercase;
                letter-spacing: -1px;
                margin-top: 32px;
                height: 100%;
                padding: 8px 16px;

                animation-name: slide-left-in;
                animation-duration: 2s;

                .shopping-icon{
                    height: 24px;
                    width: 24px;
                    font-size: 24px;
                }
            }
        }

        .product-bubble {
            position: absolute;
        }

        .ipad-bubble {
            top: 40px;
            left: 600px;
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-left-in{
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes box-shadow-fade-in {
    0%{
        box-shadow: none;
    }

    100%{
        box-shadow: 
        20px 0 90px #fff,
        10px 0 150px #f0f,
        30px 0 150px #0ff;
    }
}

@keyframes text-neon {
    from {
      text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 16px var(--app-warn-color),
        0 0 20px var(--app-warn-color), 0 0 24px var(--app-warn-color), 0 0 28px var(--app-warn-color), 0 0 32px var(--app-warn-color);
    }
    to {
      text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px var(--app-warn-color),
        0 0 10px var(--app-warn-color), 0 0 12px var(--app-warn-color), 0 0 14px var(--app-warn-color), 0 0 16px var(--app-warn-color);
    }
  }