.container {
    padding: 0.5rem 0rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-radius: var(--border-radius-s);

    .icon {
        color: var(--color-primary);
        width: var(--font-size-l);
        height: var(--font-size-l);
        font-size: var(--font-size-l);
    }

    .title {
        color: var(--color-primary);
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-regular);
    }
}