p{
    margin: 0px;
}

.container{
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: var(--color-accent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .content-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 32px;

        .brand-container{
            width: 100%;
            display: flex;
            justify-content: center;

            .brand-identify{
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--color-primary);
                gap: 8px;
    
                .brand-name{
                    font-size: var(--font-size-xl);
                    font-weight: var(--font-weight-bold);
                    text-transform: capitalize;
                }
            }
        }

        .form-container{
            padding: 30px;
            background-color: white;
            border-radius: var(--border-radius-m);
            box-shadow: var(--box-shadow-badge);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;
            
            .intro-container {
                .feature-label{
                    font-size: var(--font-size-xl);
                    font-weight: var(--font-weight-regular);
                    text-transform: capitalize;
                    text-align: center;
                }
            }
        }

        .to-sign-up-container{
            padding: 0px 8px;

            .label {
                color: var(--color-primary);
                font-size: var(--font-size-s) ;
                font-weight: var(--font-weight-regular);

                .link{
                    cursor: pointer;
                    color: var(--color-warn);    
                }

                .link:hover{
                    text-decoration: underline;
                }
            }
        }
    }
  
}