p{
    margin: 0px;
}

.container{
    width: 100%;
    height: calc(100vh - var(--app-header-height));
    background-color: var(--app-primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .content-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;

        .brand-container{
            width: 100%;
            display: flex;
            justify-content: center;

            .brand-identify{
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                gap: 8px;
    
                .brand-name{
                    font-size: var(--app-font-size-large);
                    font-weight: var(--app-font-weight-regular);
                    text-transform: capitalize;
                }
            }
        }

        .form-container{
            padding: 30px;
            background-color: white;
            border-radius: var(--app-border-radius-medium);
            box-shadow: var(--app-badge-box-shadow);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;
            
            .intro-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .feature-label{
                    font-size: var(--app-font-size-extra-large);
                    font-weight: var(--app-font-weight-bold);
                    text-transform: capitalize;
                }
            }
    
            .input-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 16px;
                
                .input-field {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    
                    .label {
                        font-size: var(--app-font-size-extra-small);
                        font-weight: var(--app-font-weight-bold);
                        text-transform: uppercase;
                    }
                    
                    .input {
                        width: var(--auth-input-width);
                        height: var(--auth-input-height);
                        padding: 0px 8px;
                        outline: none;
                        border: 1px solid var(--app-accent-color);
                        border-radius: var(--app-border-radius-small);
                        transition: background-color 0.25s linear;
                        font-size: var(--app-font-size-extra-small);
                    }
    
                    .input:focus-visible{
                        background-color: var(--app-accent-color);
                    }
                }
            }
    
            .action-container {
                width: 100%;
    
                .login-button{
                    height: var(--auth-button-height);
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;

                    .mdc-button__label{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 16px;
                    }

                    .spinner {
                        color: white;
                        height: 24px !important;
                        width: 24px !important;
                    }
                }
            }
        }

        .to-sign-up-container{
            padding: 0px 8px;

            .label {
                color: white;
                font-size: var(--app-font-size-small) ;
                font-weight: var(--app-font-weight-regular);

                .link{
                    cursor: pointer;
                    color: var(--app-warn-color);    
                }

                .link:hover{
                    text-decoration: underline;
                }
            }
        }
    }
  
}