<div class="container">
  <app-breadcrumbs-bar></app-breadcrumbs-bar>
  <mat-drawer-container class="drawer-container">
    <mat-drawer opened class="side-nav" mode="side" id="side-drawer">
      <app-product-filter-menu />
    </mat-drawer>
    <mat-drawer-content class="drawer-content">
      <app-product-list-pagination class="product-list-pagination-container">
        <div class="product-list">
          <app-product-cards
            *ngFor="let product of productsToShow"
            [product]="product" />
        </div>
      </app-product-list-pagination>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
