<div class="container">
  <app-breadcrumbs-bar></app-breadcrumbs-bar>
  <mat-drawer-container class="drawer-container">
    <mat-drawer opened class="side-nav" mode="side" id="side-drawer">
      <app-product-filter-menu />
    </mat-drawer>
    <mat-drawer-content class="drawer-content">
      <app-product-list-pagination
        [searchTerm]="searchTerm"
        [totalElements]="totalElements"
        [currentPage]="currentPage"
        [currentOffset]="currentOffset"
        (changePageAndOffsetEmitter)="handleChangePageAndOffset($event)"
        (resetAllFilterEmitter)="handleResetAllFilter()"
        class="product-list-pagination-container">
        <div *ngIf="productsToShow.length > 0" class="product-list">
          <app-product-cards
            *ngFor="let product of productsToShow"
            [product]="product" />
        </div>
      </app-product-list-pagination>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
