<div class="container">
  <app-breadcrumbs-bar></app-breadcrumbs-bar>
  <mat-drawer-container autosize class="drawer-container">
    <mat-drawer #drawer opened class="side-nav" mode="side" id="side-drawer">
      <app-product-filter-menu />
    </mat-drawer>
    <mat-drawer-content>
      <div class="products-list-container">
        <div class="product-list-paginator">
          <app-product-list-pagination>
            <div class="product-list">
              <app-product-cards
                *ngFor="let product of productsToShow"
                [product]="product" />
            </div>
          </app-product-list-pagination>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
