.container{
    .side-nav {
        width: var(--product-filter-side-nav-width);
        height:  calc(100vh - var(--header-height));
    }
    
    .side-nav-sticky {
        position: fixed;
        top: var(--header-height);
    }
    
    .drawer-content{
        min-height: calc(100vh - var(--header-height) - var(--breadcrumbs-height));
        width: auto;
        padding: 1.5rem 1.5rem 5rem 1.5rem;
    
        .product-list-pagination-container{
            height: 100%;
            width: 100%;
            
            .product-list {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
                gap: 1rem;
            }
            
        }
    }
}
